# Node & Dependencies
node_modules/
.npm/
# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.*           # Allow override by local setups

# Build Artifacts
dist/
build/
coverage/
**/coverage/

# OS-Specific
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# TypeScript
*.tsbuildinfo

# Commit Hooks / Husky
.husky/_/


.gitlab-ci-local
.gitlab-ci-local/*